body {
	background: #FFF;
	font-size: 15px;
	margin:10% 5% 0 5%;
	text-align:center
}

input[type="text"] {
  height: 70px;
  width: 700px;
  font-size: 50px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding:4px 6px 4px 6px;
  border-bottom: 1px solid #BBB;
  cursor: text;
  background: none;
} 

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
} 

#search_submit {
  height: 70px;
  width: 70px;
  font-size: 50px;
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  border: none;
  cursor: pointer;
}

#book_list {
    margin-top: 20%;  
} 

/* Center 
*/
.search_out {
    display: table;
    position: absolute;
    height: 80%;
    width: 100%;
    transition: height .9s;
}

.search_middle {
    display: table-cell;
    vertical-align: middle;
}

.search_inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}


/* Loading

Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating 
*/

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .0 )
    url('/img/progress7_bw.gif') 
    50% 50% 
    no-repeat;
}

/* When the body has the loading class, we turn
the scrollbar off with overflow:hidden */
.loading {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our
modal element will be visible */
.loading .modal {
  display: block;
}

td {
  border: 1px solid;
}